<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AttendanceCore.BusinessLogic.BusinessLogic" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="AttendanceCore.DeviceAccess.Devices" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="AttendanceCore.AttendanceService" behaviorConfiguration="AttendanceServiceBehavior">
        <endpoint address="http://localhost/AttendanceService" binding="basicHttpBinding" contract="AttendanceCore.IAttendanceService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AttendanceServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <!--Permite habilitar los dispositivos de reloj checador-->
    <add key="EnableDevices" value="false"></add>
    <!--Asignación de IPs a los relojes checadores-->
    <add key ="EntradaCoorporativo" value="192.168.1.20"/>
    <add key ="EntradaCEDIS" value="192.168.3.201"/>
    <add key ="ComedorCoorporativo" value="192.168.1.143"/>
    <add key ="ComedorCEDIS" value="192.168.3.202"/>
    <!--Cadenas de conexión para las bases de datos-->
    <add key="AttendanceConfigurationString" value="Server=localhost; Database=FujiAttendance; Uid=lgonzalez; Pwd=livsolskjaer"></add>
    <add key="EslabonConfigurationString" value="Driver={SQL Server};Server=192.168.1.220; Database=eslabonstd; Uid=eslabonstd; Pwd=eslabonstd;"></add>
  </appSettings>
</configuration>
